<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.fabricam8.seniorsapp" >

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <!-- Permissions -->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="standard"
        android:theme="@style/Theme.Seniors" >

        <!-- Services -->
        <service
            android:name=".alarm.NotificationEventService"
            android:enabled="true" />
        <service
            android:name=".alarm.AlarmPlayerService"
            android:enabled="true" />

        <receiver
            android:name=".alarm.NotificationEventReceiver"
            android:process=":remote" />

        <!-- Activities -->

        <activity
            android:name=".DashboardActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LocationActivity"
            android:label="@string/title_activity_location"
            android:parentActivityName=".DashboardActivity"
            android:screenOrientation="portrait" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DashboardActivity" />
        </activity>
        <activity
            android:name=".EventsListActivity"
            android:label="Visualizar Eventos"
            android:parentActivityName=".DashboardActivity"
            android:screenOrientation="portrait" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DashboardActivity" />
        </activity>
        <activity
            android:name=".MedicationFormActivity"
            android:label="@string/title_activity_medication_form"
            android:parentActivityName=".EventsListActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventsListActivity" />
        </activity>
        <activity
            android:name=".ExerciseFormActivity"
            android:label="@string/title_activity_exercise_form"
            android:parentActivityName=".EventsListActivity"
            android:screenOrientation="portrait" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventsListActivity" />
        </activity>
        <activity
            android:name=".MedicationInfoActivity"
            android:label="@string/title_activity_info_summary"
            android:parentActivityName=".EventsListActivity"
            android:screenOrientation="portrait" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventsListActivity" />
        </activity>
        <activity
            android:name=".ExerciseInfoActivity"
            android:label="@string/title_activity_info_summary"
            android:parentActivityName=".EventsListActivity"
            android:screenOrientation="portrait" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventsListActivity" />
        </activity>

    </application>

</manifest>
